In [1]:
import sys
import csv
import glob
import pandas as pd

# get data file names
path =r'C:\Users\Harish Thiyyarapu\Desktop\Circleback_Data_Analyst_Test_Data\customer'
path1 = r'C:\Users\Harish Thiyyarapu\Desktop\Circleback_Data_Analyst_Test_Data\transaction'

filenames_customers = glob.glob(path + "/*.csv")
filenames_transaction = glob.glob(path1 + "/*.csv")

In [2]:
Customer_file=pd.DataFrame()

# Appending All customer files

In [3]:
for f in filenames_customers:
    data = pd.read_csv(f,engine='python')
    Customer_file = Customer_file.append(data,ignore_index=True ,sort=True)

# Exporting appended data into CSV

In [5]:
Customer_file.to_csv('customerss.csv', sep=',',index=False)

In [6]:
Transaction_file=pd.DataFrame()

# Appending All Transaction Data

In [7]:
for f in filenames_transaction:
    data = pd.read_csv(f,engine='python')
    Transaction_file = Transaction_file.append(data,ignore_index=True,sort=True)

# Exporting appended data into CSV

In [9]:
Transaction_file.to_csv('Transaction.csv', sep=',',index=False)

# transactions that took place in the State of Alaska.

In [11]:
Alaska_Transactions=Transaction_file[Transaction_file.transaction_location == 'Alaska']

# Creat the tables in mysql DB through xampcontrol pannel v3.2.2

# solutions for required queries

3a solution :

SELECT COUNT(transaction_amount) , 'Transactions greater than 200' as MESSAGE_TEXT FROM `Transaction` WHERE transaction_amount > '$200'

3b solution :

SELECT gender,transaction_amount FROM customers , transaction WHERE customers.id = transaction.customer_id GROUP BY gender

3d solution :

SELECT first_name,last_name,transaction_amount FROM customers , transaction WHERE customers.id = transaction.customer_id GROUP BY customer_id ORDER BY `transaction`.`transaction_amount` DESC LIMIT 3

3e solution:

SELECT customer_id,transaction_id ,SUM(transaction_amount) as 'transaction_amount' FROM transaction GROUP BY customer_id 
ORDER BY `transaction_amount`  DESC LIMIT 1